
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>All Staff</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Staff</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">All Staff</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-lg-12">
						<ul class="nav nav-pills mb-3">
							<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">List View</a></li>
							<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Grid View</a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade active show col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">All Staff  </h4>
										<a href="add-staff.html" class="btn btn-primary">+ Add new</a>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example5" class="display" style="min-width: 845px">
												<thead>
													<tr>
														<th></th>
														<th>Name</th>
														<th>Designation</th>
														<th>Mobile</th>
														<th>Email</th>
														<th>Address</th>
														<th>Joining Date</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""></td>
														<td>Tiger Nixon</td>
														<td>Clerk</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="2b42454d446b4e534a465b474e05484446">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/04/25</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>												
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""></td>
														<td>Garrett Winters</td>
														<td>Accountant</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="6900070f06290c11080419050c470a0604">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/07/25</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""></td>
														<td>Ashton Cox</td>
														<td>Junior Technical</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="aac3c4ccc5eacfd2cbc7dac6cf84c9c5c7">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2009/01/12</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""></td>
														<td>Cedric Kelly</td>
														<td>Developer</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="b4dddad2dbf4d1ccd5d9c4d8d19ad7dbd9">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/03/29</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""></td>
														<td>Airi Satou</td>
														<td>Accountant</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="70191e161f301508111d001c155e131f1d">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2008/11/28</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""></td>
														<td>Brielle Williamson</td>
														<td>Specialist</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="c1a8afa7ae81a4b9a0acb1ada4efa2aeac">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/12/02</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""></td>
														<td>Herrod Chandler</td>
														<td>Sales Assistant</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="9af3f4fcf5daffe2fbf7eaf6ffb4f9f5f7">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/08/06</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""></td>
														<td>Rhona Davidson</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="d4bdbab2bb94b1acb5b9a4b8b1fab7bbb9">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/10/14</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""></td>
														<td>Colleen Hurst</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="244d4a424b64415c45495448410a474b49">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2009/09/15</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""></td>
														<td>Sonya Frost</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="f891969e97b89d80999588949dd69b9795">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2008/12/13</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""></td>
														<td>Jena Gaines</td>
														<td>Office Manager</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="c3aaada5ac83a6bba2aeb3afa6eda0acae">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2008/12/19</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""></td>
														<td>Quinn Flynn</td>
														<td>Support Lead</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="5b32353d341b3e233a362b373e75383436">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2013/03/03</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""></td>
														<td>Charde Marshall</td>
														<td>Regional Director</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="9bf2f5fdf4dbfee3faf6ebf7feb5f8f4f6">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2008/10/16</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""></td>
														<td>Haley Kennedy</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="f69f989099b6938e979b869a93d895999b">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/12/18</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""></td>
														<td>Tatyana Fitzpatrick</td>
														<td>Regional Director</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="127b7c747d52776a737f627e773c717d7f">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/03/17</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""></td>
														<td>Michael Silva</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="a5cccbc3cae5c0ddc4c8d5c9c08bc6cac8">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/11/27</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""></td>
														<td>Paul Byrd</td>
														<td>Financial Officer</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="066f68606946637e676b766a632865696b">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/06/09</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""></td>
														<td>Gloria Little</td>
														<td>Systems Administrator</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="066f68606946637e676b766a632865696b">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2009/04/10</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""></td>
														<td>Bradley Greer</td>
														<td>Librarian</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="0960676f66496c71686479656c276a6664">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/10/13</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""></td>
														<td>Dai Rios</td>
														<td>Personnel Lead</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="10797e767f507568717d607c753e737f7d">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2012/09/26</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""></td>
														<td>Jenette Caldwell</td>
														<td>Receptionist</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="a1c8cfc7cee1c4d9c0ccd1cdc48fc2cecc">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/09/03</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""></td>
														<td>Yuri Berry</td>
														<td>Receptionist</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="aac3c4ccc5eacfd2cbc7dac6cf84c9c5c7">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2009/06/25</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""></td>
														<td>Caesar Vance</td>
														<td>Pre-Sales Support</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="a3cacdc5cce3c6dbc2ced3cfc68dc0ccce">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/12/12</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""></td>
														<td>Doris Wilder</td>
														<td>Sales Assistant</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="91f8fff7fed1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/09/20</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""></td>
														<td>Angelica Ramos</td>
														<td>Executive Officer</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="c9a0a7afa689acb1a8a4b9a5ace7aaa6a4">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2009/10/09</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""></td>
														<td>Gavin Joyce</td>
														<td>Developer</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="85ecebe3eac5e0fde4e8f5e9e0abe6eae8">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/12/22</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""></td>
														<td>Jennifer Chang</td>
														<td>Regional Director</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="751c1b131a35100d14180519105b161a18">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/11/14</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""></td>
														<td>Brenden Wagner</td>
														<td>Software Engineer</td>
														<td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="1e777078715e7b667f736e727b307d7173">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/06/07</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""></td>
														<td>Fiona Green</td>
														<td>Receptionist</td>
														<td><a href="javascript:void(0);"><strong>987 654 3210</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="50393e363f103528313d203c357e333f3d">[email&#160;protected]</span></strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2010/03/11</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
													<tr>
														<td><img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""></td>
														<td>Shou Itou</td>
														<td>Receptionist</td>
														<td><a href="javascript:void(0);"><strong>(123) 4567 890</strong></a></td>
														<td><a href="javascript:void(0);"><strong><span class="__cf_email__" data-cfemail="274e49414867">[email&#160;protected]</span>example.com</strong></a></td>
														<td>#8901 Demo Road </td>
														<td>2011/08/14</td>
														<td>
															<a href="javascript:void(0);" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                            </div>
							<div id="grid-view" class="tab-pane fade col-lg-12">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic2.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Alexander</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Clerk</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c7aea9a1a887a2bfa6aab7aba2e9a4a8aa">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic3.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Elizabeth</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Librarian</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7b12151d143b1e031a160b171e55181416">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic4.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Amelia</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Clerk</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="90f9fef6ffd0f5e8f1fde0fcf5bef3fffd">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic5.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Charlotte</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Librarian</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="721b1c141d32170a131f021e175c111d1f">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic6.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Isabella</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Librarian</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f464149406f4a574e425f434a014c4042">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic7.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Sebastian</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Clerk</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="335a5d555c73564b525e435f561d505c5e">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic8.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Olivia</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Sales Assistant</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c9a0a7afa689acb1a8a4b9a5ace7aaa6a4">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic9.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Emma</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Clerk</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d4bdbab2bb94b1acb5b9a4b8b1fab7bbb9">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">Edit</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img src="images/profile/small/pic10.jpg" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="my-4">Jackson</h3>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Designation :</span><strong>Clerk</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Phone No. :</span><strong>+01 123 456 7890</strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Email:</span><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5831363e37183d20393528343d763b3735">[email&#160;protected]</a></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">Address:</span><strong>#8901 Marmora Road</strong></li>
													</ul>
													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="staff-profile.html">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>